#tbl {
    border-collapse: collapse;
    width: 85%;
    margin: auto;
    text-align: center;
}

#tbl td, #tbl th {
    border: 1px solid #ddd;
    padding: 15px 15px;
    width: 50px;
    vertical-align: inherit;
}

#tbl #number {
    width: 5%;
}

#tbl #postTitle {
    width: 30%;
}

#tbl #summary {
    width: 12%;
}

#tbl #day {
    width: 14%;
}

#tbl #category {
    width: 13%;
}

#tbl tr:nth-child(even){background-color: #f2f2f2;}

#tbl tr:hover {background-color: #ddd;}

#tbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background: #75a6d2;
    color: white;
}

#modification {
    font-weight: bold;
    font-size: x-large;
    float: right;
}

.centered { text-align: center;}
.leftpadding30percent { padding-left: 30%; }

#tag {
    font-weight: bold;
    font-size: large;
}

.modification {
    text-decoration: none;
    float: right;
    font-size: 22px;
    font-weight: bold;
    margin: 0px 40px auto 0px;
}

   #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin-top: 40px;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #054c78;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
        margin-top: 80px;
      }