{% extends "base.html" %}                   <!--base.html을 상속받는다고 선언-->

{% block title %}나랑 ♥방구♥할래?{% endblock %}    <!--title 블록 재정의-->

<!--정적 파일인 css 연결하기 위하여, staticfiles를 로드-->
{% load staticfiles %}
<!--extrastyle 블록을 재정의하여 추가적으로 home.css 연결-->
{% block extrastyle %}{% static "css/home.css" %}{% endblock %}

{% block content %}                         <!--content 블록 재정의-->
  <div id="content_home">     <!--content_home 영역 정의-->

      <div id="homeimg">      <!--homeimg 영역 정의-->
          <!--<a href="/"><img src="{% static 'img/iznone.jpg' %}" style="height:256px;"/></a>-->
          <a href="/"><img src="{% static 'img/쿠야광고.gif' %}" style="width:80%;"/></a>
          <!--<h4 style="margin: 0;">장고 프레임워크로 개발한 웹 사이트입니다.</h4>-->
      </div>
      <br/><br/>
      <!--<hr style="margin: 5px 0;">     &lt;!&ndash;그림 및으로 5px 간격을 두고 수평선 넣기&ndash;&gt;-->
      <div id="searchBox"> <input type="text" id="search"><a id="searchButton" href="{% url 'bookmark:index' %}">방 찾기</a><br> </div>
          <!--<form action="." method="post" class="centered"> {% csrf_token %}-->
              <!--{{ form.as_table }}-->
        <!--<input type="text" id="search1"><input type="submit" value="방 찾기" />-->
    <!--</form>-->

      <br/><br/>
      <div id="sortmenu" >
          <h2 style="text-align: center">쉬운 방 찾기</h2>
          <a href="/"><img src="{% static 'img/복층원룸2.jpg' %}" style="width:300px;"></a>
          <a href="/"><img src="{% static 'img/고양이2.jpg' %}" style="width:300px;"></a>
          <a href="/"><img src="{% static 'img/오피스텔.jpg' %}" style="width:300px;"></a>
          <a href="/"><img src="{% static 'img/웜룸.jpg' %}" style="width:300px;"></a>
          <a href="/"><img src="{% static 'img/아파트.jpg' %}" style="width:300px;"></a>



      </div>
      <h2>카테고리</h2>

      <table id="applist">
          <tr>
          <td><b><i><a href="{% url 'bookmark:index' %}">뉴스</a></i></b></td>
          <td>서울 아파트 공급이 원활하지 않은 이유</td>
          <td id="Edit"><i><a href="#">등록</a></i></td>
          <td id="Edit"><i><a href="#">편집</a></i></td>
          </tr>

          <tr>
          <td><b><i><a href="{% url 'bookmark:index' %}">뉴스</a></i></b></td>
          <td>직방, 우리은행과 손잡고 부동산 신사업 개발</td>
          <td id="Edit"><i><a href="#">등록</a></i></td>
          <td id="Edit"><i><a href="#">편집</a></i></td>
          </tr>

          <tr>
          <td><b><i><a href="{% url 'blog:index' %}">공지사항</a></i><b></td>
          <td>직방 개인정보 처리방침 개정안내</td>
          <td id="Edit"><i><a href="#">등록</a></i></td>
          <td id="Edit"><i><a href="#">편집</a></i></td>
          </tr>


      </table>


      <h2>공지사항</h2>

      <div>
          <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
          </ul>
      </div>
  </div>


  {% endblock content %}

  {% block footer %}                      <!--footer 블록 재정의-->
  <!--<div id="footer">-->
      <!--&lt;!&ndash;<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Copyleft.svg/220px-Copyleft.svg.png"&ndash;&gt;-->
           <!--&lt;!&ndash;height="12" width="12" /> LeeHyeRim&ndash;&gt;-->
  <!--</div>-->
  {% endblock footer %}